.App {
  text-align: center;
}

/* * {
  border: 1px solid red;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-container {
  padding: 20px;
  margin: 0;
  background-color: #444b5d;
  color: white;
  font-size: 25px;
}

.item-container {
  border: 1px solid #445d57;
  width: 200px;
  padding: 20px;
  display: grid;
  box-shadow: 5px 5px 5px #445d57;
}
.item-img {
  width: 200px;
  overflow: hidden;
}

.item-num-input {
  width: 20%;
}

.item-attr {
  margin: 3px 0;
}

.item-name {
  font-size: 20px;
}

.cart-container {
  float: right;
}

#cart-display {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #dfdbda;
  color: black;
  text-align: center;
}

#cart-display.show {
  width: 40%;
  padding: 30px;
  transition: width 0.2s;
  height: 210%;
}

#cart-display.show .close-sidebar-btn {
  display: grid;
  justify-content: end;
}

#cart-display.show .checkout-btn-wrap {
  display: grid;
  justify-content: end;
}

#cart-display.hide {
  width: 0;
  transition: width 0.2s;
}

.checkout-item {
  font-size: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 1fr 1fr;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 30px;
  margin-top: 10px;
}

.items {
  margin: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 30px;
}

.no-items {
  margin: 20px 0;
}

.checkout-item-image {
  width: 110px;
}

.checkout-delete {
  background-color: transparent;
}

.add-to-cart-btn,
.checkout-btn {
  padding: 8px;
  border: 4px solid #5d4a44;
  color: #312724;
  background-color: white;
  font-weight: bold;
}

.checkout-btn {
  margin-top: 30px;
  padding: 10px 20px;
}
.add-to-cart-btn:hover,
.checkout-btn:hover {
  background-color: #5d4a44;
  color: white;
}

/* #5D4A44
#445D57
#444B5D */

.home-page-wrapper {
  text-align: center;
}

.subtotal {
  font-size: 20px;
  margin-top: 30px;
  padding: 3px;
}
